extends layout

block content

    // Wrapper
    #wrapper
        aside.col-sm-4

        main.col-sm-12
            // USER LIST
            h2 User List
            #userList
                table.table.table-striped.table-hover.table-bordered
                    thead
                        th UserName
                        th NationalHandicap
                        th Email
                        th Update
                        th Delete?
                    tbody
            // /USER LIST

    // /WRAPPER