extends layout
block content
    // Wrapper
    #wrapper
        aside.col-sm-4
            h2 Course details
            div.course-info.panel.panel-default
                div.panel-body
                    h3 Course details
                    ul.list-group
                        li.list-group-item
                            strong Course name: <span id='courseInfoName'></span>
                        li.list-group-item
                            strong Course difficulty: <span id='courseInfoDifficulty'></span>
                    h3 Course Location
                    address
                        ul.list-group
                            li.list-group-item 123 Course street
                            li.list-group-item Course area
                            li.list-group-item Course country
                            li.list-group-item
                                span.Tel Tel:
                                    a(href='tel:123 456 786') 123 456 789
        main.col-sm-8
            // USER LIST
            h2 Courses
            #userList
                table.table.table-striped.table-hover.table-bordered
                    thead
                        th Name
                        th Difficulty
                        th Location
                        th Update
                        th Delete?
                    tbody
            // /USER LIST
    // /WRAPPER