extends layout
block content
    // Wrapper
    #wrapper
        aside.col-sm-4
            h2 Course details
            div.course-info.panel.panel-default
                div.panel-heading Course details
                div.panel-body
                    ul.list-group
                        li.list-group-item
                            strong Course name: <span id='courseInfoName'></span>
                        li.list-group-item
                            strong Course difficulty: <span id='courseInfoDifficulty'></span>
            div.course-location.panel.panel-default
                div.panel-heading Course Location
                div.panel-body
                    address
                        p 123 Course street
                        p Course area
                        p Course country
                        span.Tel Tel:
                            a(href='tel:123 456 786') 123 456 789
        main.col-sm-8
            // USER LIST
            h2 Courses
            #userList
                table.table.table-striped.table-hover.table-bordered
                    thead
                        th Name
                        th Difficulty
                        th Location
                        th Update
                        th Delete?
                    tbody
            // /USER LIST
    // /WRAPPER