<div id="wrapper">
    <aside class="col-sm-4"></aside>
    <main class="col-sm-12">
        <h2>User list</h2>

        <div id="userList">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <th>Username</th>
                <th> National Handicap</th>
                <th>EMail</th>
                <th>Update</th>
                <th>Delete?</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </main>
</div>

