extends layout

block content

    // Wrapper
    #wrapper
        div.row
            aside.col-sm-4
                // USER INFO
                h2 User details
                #userInfo.panel.panel-default
                    div.panel-body
                        h3 Personal details
                        ul.list-group
                            li.list-group-item
                                strong First name: <span id='userInfoFirstName'></span>
                            li.list-group-item
                                strong Last name: <span id='userInfoLastName'></span>
                            li.list-group-item
                                strong National Handicap: <span id='userInfoHandicap'></span>
                            li.list-group-item
                                strong Hand: <span id='userInfoHand'></span>
                            li.list-group-item
                                strong Email: <span id='userInfoEmail'></span>
                        h3 Previous Round
                        ul.list-group
                            li.list-group-item
                                strong Course name: <span id='userInfoFirstName'></span>
                            li.list-group-item
                                strong Net Score: <span id='userInfoFirstName'></span>
                            li.list-group-item
                                strong Calulated Score: <span id='userInfoFirstName'></span>
            // /USER INFO
            main.col-sm-8
                // USER LIST
                h2 Players
                #userList
                    table.table.table-striped.table-hover.table-bordered
                        thead
                            th Name
                            th National Handicap
                            th Email
                            th Update
                            th Delete?
                        tbody
                // /USER LIST

                // ADD USER
                a.btn.btn-default.add-user(href='#userControls', data-toggle='collapse', data-target='#userControls') Add/Update user
                hr
                div#userControls.collapse.panel.panel-default
                    div.panel-heading User details
                    #addUser(data-userid="").form-horizontal.panel-body
                        fieldset
                            div.form-group
                                label.control-label.col-sm-2 Username
                                div.col-sm-10
                                    input#inputUserName(type='text', placeholder='Username').form-control
                            div.form-group
                                label.control-label.col-sm-2 Firstname
                                div.col-sm-10
                                    input#inputUserFirstName(type='text', placeholder='First Name').form-control
                            div.form-group
                                label.control-label.col-sm-2 Lastname
                                div.col-sm-10
                                    input#inputUserLastName(type='text', placeholder='Last Name').form-control
                            div.form-group
                                label.control-label.col-sm-2 Handicap
                                div.col-sm-10
                                    input#inputUserHandicap(type='text', placeholder='National Handicap').form-control
                            div.form-group
                                label.control-label.col-sm-2 Hand
                                div.col-sm-10
                                    input#inputUserHand(type='text', placeholder='left/right handed').form-control
                            div.form-group
                                label.control-label.col-sm-2 Email
                                div.col-sm-10
                                    input#inputUserEmail(type='text', placeholder='Email').form-control
                            div.form-group
                                div.col-sm-12
                                    button#btnAddUser.btn.pull-right Save
                // /ADD USER

    // /WRAPPER